<table>
<thead>
<tr>
<th>Name:</th>
<th>Description:</th>
<th>URL:</th>
<th>DOI:</th>
<th>Created On:</th>
<th>Modified On:</th>
</tr>
</thead>

<tbody>
<tr>
  <td><%= @listing.name %></td>
  <td><%= @listing.description %></td>
  <td><%= @listing.url %></td>
  <td><%= @listing.doi %></td>
  <td><%= @listing.created_at %>
  <td><%= @listing.updated_at %>
</td>
</tbody>
</table>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
